/* Общие стили для страницы */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #fff;
}

/* Стили для заголовка */
header {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

h1 a {
  color: #fff;
  text-decoration: none;
}

/* Стили для навигации */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

button {
  border: none;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
nav button:hover {
  background-color: rgb(179, 72, 72);
  color: #ae3a3a;
  border-radius: 25%;
  box-shadow: 0 0 15px #bc1c1c;
}

/* Стили для главной секции */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

section {
  flex-basis: 60%;
  margin-bottom: 20px;
}

h1 a:hover {
  background-color: rgb(187, 149, 149);
  color: #ae3a3a;
  border-radius: 25%;
  box-shadow: 0 0 15px #bc1c1c;
}
h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
}

article {
  margin-bottom: 20px;
}
article h3:hover {
  background-color: rgb(192, 131, 131);
  color: #ae3a3a;
  border-radius: 25%;
  box-shadow: 0 0 15px #bc1c1c;
}
h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff;
}

h3 a {
  color: #fff;
  text-decoration: none;
}

p {
  margin-top: 0;
  color: #fff;
}

/* Стили для боковой панели */
aside {
  flex-basis: 30%;
  margin-bottom: 20px;
}

/* Стили для футера */
footer {
  background-color: #222;
  color: #fff;
  padding: 10px;
  text-align: center;
}
